{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Bienvenue  Admin{% endblock %}
{% block page_actions %}

    <a class="btn btn-primary" href="{{path('signup')}}">creer un nouveau adminstrater</a>

{% endblock %}

{% block main %}


         


  
{% endblock %}