{% extends 'base.html.twig' %}
{% form_theme formNewsletter 'bootstrap_5_layout.html.twig' %}

{% block title %}Mentionlegale{% endblock %}

{% block body %}
{% block header %}{{parent()}}{% endblock %}
{% block main %}
<main>
<section class=" m-5">
  <h2 class="text-center m-5">Mention Legale</h2>

<h5 class="mb-5 text-center ">MENTIONS LÉGALES ET CONDITIONS GÉNÉRALES D’UTILISATION DU SITE INTERNET  HTTPS://WWW.ESYBEL.FR/</h5>
<h5 >Mentions légales </h5>
<p><br>
L’éditeur du site Internet [https://www.esybel.fr/] est la société Esybel Boulangerie, Société par Actions Simplifiées au capital de () euros immatriculée au Registre du Commerce et des Sociétés de () sous le numéro RCS () dont le siège social est situé 14 rue de l'abbe derry issy les moulioneaux 92130 France.
<br><br>
N° de SIRET : 88299962600014
<br><br>
Représenté par: mme . LEVEQUE sylvie , Gérante , représentant légal de la société Esybel Boulangerie
<br><br>
Hébergement du site internet [https://www.esybel.fr/]:

<br><br>
14 rue de l'abbe derry issy les moulioneaux 92130 France
<br><br>
0749033652
</p>
<p>
<br>
La société Esybel Boulangerie peut être contactée pour toute question :
<br><br>
<ul><li><p> Au numéro suivant (0749033652) ou en remplissant le formulaire disponible à l’adresse https://www.esybel.fr/fr/contact.</p></li></ul>
<br><br>
<h5>Conditions Générales d’Utilisation</h5>
<br>
Les présentes Conditions Générales d’Utilisation (ci-après les « CGU ») s’appliquent à toute personne consultant le site internet https://www.esybel.fr/ (ci-après le « Site »). En poursuivant sa navigation, l’utilisateur (ci-après l’« Utilisateur ») accepte de respecter les CGU.
<br><br>
Les CGU peuvent être modifiées à tout moment par la société Esybel Boulangerie et sans notification à l’Utilisateur.
<br><br>
<h5>Accès au site</h5>
<br>
La société Esybel Boulangerie permet aux Utilisateurs d’accéder au Site.
<br><br>
L’accès au Site est gratuit. Toutefois, l’Utilisateur accepte que l’accès au Site requière une connexion au réseau Internet. Il est seul responsable des coûts liés à une connexion au réseau internet.
<br><br>
La société Esybel Boulangerie déploie ses meilleurs efforts pour garantir le fonctionnement du Site et y permettre l’accès par les Utilisateurs.
<br><br>
Toutefois, la société Esybel Boulangerie n’est pas responsable d’un quelconque problème de communication, de connexion réseau, d'ordinateurs, ou de mauvais fonctionnement du Site pour un navigateur donné.
<br><br>
La société Esybel Boulangerie ne garantit pas que le Site fonctionne sans interruption ou qu’il ne contient pas d'erreurs informatiques quelconques, ni que les défauts constatés seront corrigés.
<br><br>
La société Esybel Boulangerie ne garantit pas que le Site, les serveurs y donnant accès et/ou les sites tiers avec lesquels le Site a des liens ne contiennent pas de virus ou d'autres composants susceptibles de causer un dommage aux biens ou aux personnes. Il appartient à l’Utilisateur de s’assurer de la protection de son matériel contre toute éventuelle intrusion de tiers, virus ou autres infections informatiques.
<br><br>
La société Esybel Boulangerie ne saurait être responsable des conséquences directes ou indirectes liées à une mauvaise utilisation du Site par l’Utilisateur ou une mauvaise protection de son matériel.
<br><br>
<h5>Propriété intellectuelle</h5>
<br>
Ce Site contient un grand nombre de marques dont est titulaire la société Maison  Esybel Boulangerie SAS et qu’elle-même, ses filiales et ses partenaires utilisent à travers le monde afin de différencier, sous cette marque éponyme, ses produits et services de qualité. Ces droits de marque confèrent à Maison  Esybel Boulangerie SAS un droit exclusif lui permettant de s’opposer à la reproduction desdites marques sans son autorisation écrite expresse.
<br><br>
Tous les contenus, l’agencement et la mise en page présents sur le Site, quelle que soit leur nature, texte, image, photographie, logo, marques, etc., sont protégés par des droits de propriété intellectuelle dont la société Maison  Esybel Boulangerie SAS est titulaire ou bénéficiaire d’une licence d’exploitation. Toute reproduction, modification, communication, représentation, publication, distribution, transmission, du contenu, de l’agencement, de la mise en page du Site sont interdites par application de la loi française et sont soumises à l’autorisation écrite expresse de Maison  Esybel Boulangerie SAS.
<br><br>
L’Utilisateur s’engage à respecter ces droits et à n’y porter aucune atteinte. En particulier, il est interdit à l’Utilisateur de copier, reproduire, diffuser, utiliser, transmettre, modifier l’un, l’autre ou l’ensemble de ces contenus, que ce soit en tout ou partie, sur quelque support que ce soit et par quelque procédé que ce soit, électronique, mécanique, par photocopie, par enregistrement ou par tout autre moyen.
<br><br>
Toute utilisation non expressément autorisée de la structure, d’une séquence, de l’arrangement ou de la mise en page du Site, ou des marques, présentes sur ce Site peut porter atteinte aux lois civiles ou pénales, y compris, mais sans que cette liste soit exhaustive, au droit d’auteur, au droit des marques, à la protection de la vie privée et du droit à l’image et engagerait la responsabilité de l’Utilisateur. La société Maison  Esybel Boulangerie SAS se réserve le droit d’engager des poursuites judiciaires à l’encontre de toute personne qui n’aurait pas respecté les droits susvisés.
<br><br>
 En se connectant à ce Site, l’Utilisateur n’acquiert ou n’obtient en aucune façon, y compris de manière implicite, aucune licence ni aucun droit d’utiliser ou de reproduire de quelque façon que ce soit les ressources et les informations diffusées sur le Site.
<br><br>
<h5>Liens hypertextes</h5>
<br>
Le Site peut inclure des liens hypertextes vers des sites internet édités par des tiers. La société Esybel Boulangerie n’est pas responsable du contenu disponible sur ces sites internet ni de leur fonctionnement. La société Esybel Boulangerie n’est pas non plus responsable de toutes les conséquences dommageables directes ou indirectes qui surviendraient du fait de la consultation de ces sites internet par l’Utilisateur. 
<br><br>
<h5>Droit applicable</h5>
<br>
Les CGU sont soumises au droit français.
</p>
</section>
</main>
{% endblock %}
{% block footer %}{{parent()}}{% endblock %}


{% endblock %}
