{% extends 'base.html.twig' %}
{% form_theme formNewsletter 'bootstrap_5_layout.html.twig' %}

{% block title %} Données{% endblock %}

{% block body %}
{% block header %}{{parent()}}{% endblock %}
{% block main %}
<main>
<section class="m-5">
 <h3 class="text-center ">PROTECTION DES DONNEES PERSONNELLES ET POLITIQUE COOKIES</h3>
 <br><br>
 <p>
 <h5>Gestion des Cookies</h5>
 <br>
 Le site Internet https://www.esybel.fr/ ,ci-après le « Site », de esybel Boulangerie implante des « Cookies » c’est-à-dire des fichiers texte de petite taille, sur le disque dur de l’Utilisateur, afin de faciliter son accès aux services proposés et de vous conférer une meilleure expérience Utilisateur sur notre Site.
<br><br>
La collecte de ces Cookies se fait sur la base du consentement de l’Utilisateur lorsque celui-ci est exigé.
<br><br>
Le Site Internet de esybel Boulangerie ne peut lire que les Cookies qu’il a lui-même implantés, et aucune autre données présente sur le disque dur.
<br><br>
Ces Cookies sont classés en plusieurs catégories et peuvent être de plusieurs types.
<br><br>
<ol>
<li><h6>1.Catégories de cookies</h6>
<br>
Soucieux d’apporter la meilleure offre de service possible aux Utilisateurs du Site, esybel Boulangerie a divisé les Cookies en plusieurs catégories en fonction de leur finalité.
<br><br>
<h6>Cookies nécessaires :</h6>
<br>
Il s’agit de cookies sans lesquels le Site ne peut pas fonctionner correctement. Ils permettent d’activer des fonctions de base comme la navigation de page et l’accès aux zones sécurisées du Site.
<br><br>
Pour cette raison, le consentement de l’Utilisateur n’est pas requis. Les refuser reviendrait à renoncer à la navigation sur le Site.
<br><br>
<h6>Cookies de fonctionnalité :</h6>
<br>
Ce sont des Cookies qui permettent de personnaliser et optimiser votre navigation sur le Site.
<br><br>
Ces Cookies ne peuvent être installés qu’avec le consentement de l’Utilisateur, qui peut le retirer à tout moment.
<br><br>
<h6>Cookies d’analyse statistiques et de performance :</h6>
<br>
Ces Cookies collectent et communiquent des informations de manière anonyme. Ils permettent au propriétaire du Site de comprendre comment les Utilisateurs de manière générale se comportent sur le Site et interagissent avec lui.
<br><br>
Ces Cookies ne peuvent être installés qu’avec le consentement de l’Utilisateur, qui peut le retirer à tout moment.
<br><br>
</li>

<li>
<h6>2.Types de cookies</h6>
<br>
Indépendamment de leur finalité, les Cookies peuvent être de plusieurs types, en fonction de leur durée d’expiration et en fonction de leur provenance.
<br><br>
             <h6 class="ms-5">2.1 Classification par la durée d’expiration</h6> 
             <br>
<h6>Cookies de session</h6>
<br>
Ces Cookies expirent dès que l’Utilisateur quitte le Site. Ils sont alors supprimés du disque dur de l’Utilisateur.
<br><br>
<h6>
Cookies permanents</h6>
<br>
Les Cookies dits « permanents » ont vocation à rester sur le disque dur de l’Utilisateur au-delà de la session de connexion. Ils ne sont cependant pas réellement permanents et expirent au bout de 13 mois maximum, conformément aux recommandations de la CNIL.
<br><br>
            <h6 class="ms-5">2.2 Classification par la provenance</h6>    
<br>
<h6>Cookies internes</h6>
<br>
Ce terme désigne les cookies de toutes catégories, créés et placés sur le Site de l’Utilisateur par le Site pour son propre usage.
<br><br>
<h6>Cookies tiers</h6>
<br>
Ce terme désigne les cookies de toutes catégories, placés via le Site de esybel Boulangerie mais créés par et pour un autre site Internet.
<br><br>
Les cookies pouvant être installés par le Site, en fonction, le cas échéant, de votre consentement, sont les suivants :
<br><br>
</li>
<li>
<h6>3.Gestion des Cookies</h6>
<br>
Vous pouvez vous opposer à l’enregistrement de Cookies en configurant votre navigateur. Si vous décidez de désactiver les cookies, vous êtes susceptible ne pas profiter de toutes les fonctionnalités de nos Services.
<br><br>
<h6>3.1 Gestion des Cookies depuis votre navigateur</h6>
<br>
Votre logiciel de navigation peut être configuré de manière à ce que les Cookies soient enregistrés dans votre terminal ou, au contraire, qu'ils soient systématiquement rejetés, ou rejetés en fonction de son émetteur. Votre logiciel de navigation peut également être configuré de manière à ce que l'acceptation ou le refus des Cookies vous soient proposés ponctuellement, avant qu'un Cookie soit susceptible d'être enregistré dans votre terminal.
<br><br>
Si votre navigateur est configuré de manière à refuser systématiquement tous les Cookies, vous ne pourrez pas bénéficier pleinement des fonctions essentielles du Site (comme par exemple recevoir des préconisations commerciales personnalisées).
<br><br>
La procédure de configuration est différente pour chaque navigateur. Elle est décrite dans le menu d'aide de votre navigateur.
<br><br>
Il est à noter que esybel Boulangerie n’est pas responsable d’un mauvais fonctionnement du Site en cas de refus d’enregistrement des Cookies par l’Utilisateur.
<br><br>
 <h6 class="ms-5">  Politique de protection des données personnelles</h6> 
<br>
Conformément à la loi Informatique et Libertés n°78-17 du 6 janvier 1978 modifiée et au Règlement Général sur la Protection des Données à caractère personnel (ci-après « RGPD ») n° 2016/679/UE du 27 avril 2016, esybel Boulangerie, en qualité de responsable de traitement, garantit le respect de la vie privée des Utilisateurs du Site.
<br><br>
</li>
</ol>
<h6>1.Finalité de la collecte des Données à caractère personnel</h6>
<br>
En tant qu'Utilisateur, personne physique, vous êtes ici informé du fait que les informations que vous communiquez par le biais du Site sont collectées et traitées sur la base :
<br><br>
->de votre consentement aux termes de l’article 6(1)(a) du Règlement Général sur la Protection des Données Personnelles (UE) 2016/679 « RGPD » ;
<br><br>
->de mesures précontractuelles ou de l’exécution d’un contrat à des fins de gestion de la relation client, aux termes de article 6(1)(b) du RGPD ;
<br><br>
->de l’intérêt légitime poursuivi par esybel Boulangerie afin de pouvoir répondre à vos demandes,
<br><br>
et qu’elles sont destinées aux services habilités de esybel Boulangerie et de ses éventuels sous-traitants dans le respect des finalités précisées au niveau des formulaires, aux termes de article 6(1)(f) du RGPD.
<br><br>
Pour chacun des traitements mis en œuvre, esybel Boulangerie s’engage à ne collecter et n’exploiter que des données adéquates, pertinentes et limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées.
<br><br>
Pendant la consultation du Site ou l’accès aux services en ligne de esybel Boulangerie, l’Utilisateur peut être sollicité pour communiquer volontairement certaines données personnelles (nom, prénom, société, courriel, email, numéro de téléphone, identifiants). Les formulaires de collecte présents sur le Site précisent notamment la finalité, les destinataires, la durée de conservation et le caractère obligatoire ou facultatif des données demandées par un astérisque.
<br><br>
Les données personnelles collectées et traitées sur le Site sont protégées par des mesures techniques et organisationnelles appropriées afin de garantir un niveau de sécurité adapté au risque.
<br><br>

<h6>2.Durée de conservation des Données à caractère personnel</h6>
<br>
esybel Boulangerie fait en sorte que les Données personnelles de chaque Utilisateur ne soient conservées sous une forme permettant l’identification des personnes concernées que pendant la durée nécessaire au regard des finalités pour lesquelles elles sont traitées (sauf si la législation impose une durée de conservation plus longue).
<br><br>
Les durées de conservation que esybel Boulangerie applique à vos Données à caractère personnel sont proportionnées aux finalités pour lesquelles elles ont été collectées.
<br><br>
esybel Boulangerie conservera et utilisera vos Données dans la mesure nécessaire pour remplir ses obligations légales (telles que l'obligation de conserver vos informations conformément aux lois fiscales applicables), résoudre des litiges, faire appliquer des obligations contractuelles.
<br><br>
<h6>3.Vos droits concernant la collecte de vos Données à caractère personnel</h6>
 <br>
L'Utilisateur du Site est informé qu'il dispose d'un droit d'accès, de rectification, de suppression, de limitation, de portabilité (lorsqu’il s’applique) et d’opposition sur les données le concernant.
<br><br>
Néanmoins, ces droits peuvent être limités, notamment si la réponse à votre demande est susceptible de conduire esybel Boulangerie à révéler les Données personnelles d’un autre Utilisateur ou si vous demandez l’effacement d’information que esybel Boulangerie est légalement tenue de conserver ou pour lesquelles elle a un intérêt impérieux à leur conservation.
<br><br>
<h6>4.Exercer vos droits</h6>
<br>
Conformément à la Loi informatique et Libertés, l’Utilisateur peut exercer ces droits en s’adressant au service DPO de esybel Boulangerie par courrier à l’adresse :
<br><br>
esybel Boulangerie 14 rue de l'abbe derry issy les moulioneaux 92130 FRANCE
<br><br>
Et par courriel en s’adressant à l’adresse:
<br><br>
esybelboulangerie@gmail.com
<br><br>
L’Utilisateur du Site dispose également d’un droit de définir des directives relatives au sort de ses données personnelles et ce, après son décès. Dès lors, l’Utilisateur a le droit de prévoir – avec le esybel Boulangerie – des directives relatives à la conservation, à l’effacement et à la communication de ses données après son décès.
<br><br>
A ce titre, l’Utilisateur pourra désigner un tiers de confiance – certifié par la CNIL – qui sera informé du sort de ces données et auprès duquel les données seront consignées en cas de décès de l’Utilisateur. Le tiers de confiance pourra également faire exécuter ces directives. Le tiers autorisé a alors qualité, lorsque le titulaire des comptes et des données est décédé, pour prendre connaissance des directives et demander leur mise en œuvre aux responsables de traitement concernés.
<br><br>
A défaut de telles directives, les héritiers de l’Utilisateur pourront – après son décès et en produisant un certificat de décès – exercer lesdits droits sur ses données personnelles. Les héritiers pourront faire procéder à la clôture des comptes utilisateurs du défunt, s’opposer à la poursuite des traitements de données à caractère personnel le concernant ou faire procéder à leur mise à jour. 
<br><br>
L’Utilisateur et/ou les Héritiers peuvent exercer ce droit en écrivant et en fournissant une copie de la pièce d’identité́ et du certificat de décès le cas échéant à l’adresse suivante :
<br><br>
esybel Boulangerie – 14 rue de l'abbe derry issy les moulioneaux 92130 FRANCE
<br><br>
ou par email à l’adresse suivante :
<br><br>
esybelboulangerie@gmail.com
<br><br>
L’Utilisateur dispose également du droit d’introduire une réclamation auprès de la CNIL.
<br><br>
Par ailleurs, chaque e-mail envoyé par esybel Boulangerie vous indique comment ne plus le recevoir.
<br><br>
Les Utilisateurs du Site sont tenus de respecter les dispositions de la loi Informatique et Libertés et du RGPD, notamment en s'abstenant de toute collecte ou utilisation détournée des données à caractère personnel auxquelles ils accèdent.
</p>
</section>
 

</main>
{% endblock %}
{% block footer %}{{parent()}}{% endblock %}


{% endblock %}
